<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>Sorry for the loading delay. Try back in 5 mins</h1>
    <p> Some Data Here </p>
  </body>
</html>
